@tailwind base;
@tailwind components;
@tailwind utilities;

#change-scrollbar::-webkit-scrollbar {
  width: 1px;
}
#main-page::-webkit-scrollbar {
  width: 10px;
}
#main-page::-webkit-scrollbar-track {
  background: rgb(40, 33, 86);
  border-radius: 3px;
}
#main-page::-webkit-scrollbar-thumb {
  background-color: rgb(54, 90, 252);
  border-radius: 3px;
  border: 1px solid rgb(40, 33, 86);
}

